*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body
{
    font-family: Arial, Helvetica, sans-serif;
    max-width: 1280px;
    text-align: center;
}

header .container
{
    width: 100%;
    margin: 0 auto;
    padding: 32px;
}

input,
button,
#resultado
{
    font-family: Arial, Helvetica, sans-serif;
    padding: 8px;
    margin: 8px auto;
    width: 440px;
    display: block;
}

button
{
    border: 1px solid black;
    background-color: rgb(155, 155, 155);
}

button:hover
{
    background-color: rgb(219, 219, 219);
}

#resultado
{
    font-weight: bolder;
}

